@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(249, 168, 212);
}
.display-container{
    @apply p-4 justify-items-center content-center text-white bg-black bg-opacity-40;
    border-radius: 25px;
}

.des-img{
    display: inline-block;
    width: 50px;
    margin-bottom:10px;
}
.temp-section{
    @apply text-white justify-items-center mb-10;
}
.temp{
    @apply text-5xl mb-5 font-semibold;
}
.temp-des{
    @apply text-xl font-semibold text-yellow-300;
}

@media (max-width: 540px){
    .weather-img{
        width: 200px;
    }
    .temp{
        font-size: 24px;
        margin-bottom: 5px;
    }
    .temp-des{
        font-size: 16px;
    }
    .display-container{
        @apply p-3 justify-items-center content-center text-white bg-black bg-opacity-40;
        border-radius: 25px;
        font-size: 12px;
    }
    .temp-section{
        @apply mb-4;
    }
    .des-img{
        width: 40px;
        margin-bottom:5px;
    }
}

