@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}
.display-container{
    @apply p-4 mb-4 justify-items-center rounded-lg text-white;
    background-color: rgba(108, 35, 150, 0.76);
}



